.shedule{
    width: 100%;

}
.sheduleimg{
    width: 64%;
    display:block;
    margin: 1rem auto;
}
.shedulemob{
    width:90%;
    margin: 1rem auto;
    display: none;
}
.sd-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,33.33%);
    place-items: center;
    /* border: 7px solid #313131; */
    margin-top: 2.5rem;
}
.sd-main-head{
     color:  #FFFFFF;
     display: flex;
     justify-content: center;
     font-size: 3rem;
     font-weight: 500;
     margin-top: 3rem;
}
.sd-card{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 300px;
    height: 250px;
    color:  #FFFFFF;
    font-size: 1.1rem;
    font-weight: 500;
    border-top: 7px solid #313131;
    margin-top: 1rem;
    transition: all 2s ease-in-out;
    padding-bottom: 20px;
}
.sd-card:hover{
    background-image: linear-gradient(
        45deg
        , #793cff, #9545b1)
}

.sd-day{
    margin-left: 2rem;
    font-size: 3rem;
    font-weight: 700;
}
.sd-des{
    margin-left: 2rem;
}
.sd-text{
    font-size: 82%;
    color: rgba(255, 255, 255, 0.81);
}


@media only screen and (max-width: 769px) {
    .sd-container{
        grid-template-columns: repeat(1,100%);
    }
    .sd-day{
        margin-left: 1rem;
    }
    .sd-card{
        border-top: none;
        border-left: 7px solid #313131;
        font-size: 0.8rem;
        width:69%;
        height: auto;
    }
    .sheduleimg{
        display: none;
    }
    .shedulemob{
        display: block;
    }
    .sd-text{
        font-size: 120%;
    }
}