
.info-card {
  padding-bottom: 0;
  width: 1000px;
  display: flex;
  color: #fff;
  align-items: center;
}

.info-heading {
  margin-left: 0;
  display: flex;
  flex-direction: column;
}

.info-body {
  display: flex;
}
.info-head-qst {
  margin: 1rem;
}
.info-head-bold {
  /* margin: 3px 0; */
  font-size: 3rem;
}
.info-head-content {
  align-self: flex-start;
  margin-bottom: auto;
  margin-top: 3rem;
  text-align: justify;
}
.info-img {
  width: 450px;
  justify-self: end;
}

@media only screen and (max-width: 769px) {
  .info-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column !important;
    width: 281px;
  }

  .info-body,
  .info-heading {
    display: flex;
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
  }
  .info-heading {
    width: 290px;
  }

  .info-img {
    width: 200px;
    height: 200px;
    margin-top: 7px;
  }
  .info-head-bold {
      display: block;
  }
}
