.contact-container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: flex-start;
  margin: 8rem 5rem 0 5rem;
  padding-top: 2rem;
  padding-bottom: 8rem;
}
.contact-details-container {
  flex: 6;
  padding-right: 2rem;
}
.contact-heading {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 3.5rem;
  margin-bottom: 2rem;
}
.contact-details {
  padding-left: 2rem;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  border-left: 1px solid #fff;
}
.contact-detail {
  margin: 1rem 0 1rem 0;
}
.contact-detailsName {
  margin-bottom: 4px;
  font-size: 2rem;
}

.contact-form-container {
  flex: 4;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
}
.contact-form-header {
  margin: 3rem auto 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-form-enquiryHead {
  color: #000;
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  background-color: #fff;
}
.contact-form {
  margin: 3rem auto 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  background-color: #fff;
}
.contact-form-formEntity {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 2rem;
  background-color: #fff;
}
.contact-form-entityHead {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #292929;
  align-self: start;
  margin: 0 0 5px 3.4rem;
  background-color: #fff;
}
.contact-form-inputText {
  color: #292929;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  width: 70%;
  border: none;
  border-bottom: 1px solid #989898;
  background-color: #fff;
  outline: none;
}
.contact-form-inputText :focus {
  outline: none;
  border: none;
  border-bottom: 1px solid black;
}
.contact-form-inputTextArea {
  color: #292929;
  font-family: "Montserrat", sans-serif;
  width: 70%;
  height: 8rem;
  resize: none;
  border: 1px solid #989898;
  background-color: #fff;
}
.contact-form-inputTextArea {
  outline: none;
  border: 1px solid #676767;
}
.contact-form-submitButton {
  cursor: pointer;
  background-image: linear-gradient(
    to right,
    #723aff,
    #833fff,
    #9344ff,
    #a04aff,
    #ad50ff
  );
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  border: none;
  width: 60%;
  font-size: 20px;
  height: 3rem;
  margin-bottom: 2rem;
  box-shadow: 2px 10px 15px rgba(0, 0, 0, 0.3);
  transition: 0.2s all;
}
.contact-form-submitButton :active {
  font-size: 23px;
}
@media only screen and (max-width: 768px) {
  .contact-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10rem;
    padding-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
  }
  .contact-details-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
   margin: 2rem auto 2rem 2rem
  }
  .contact-heading {
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  .contact-details {
    padding-left: 2rem;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    border-left: 1px solid #fff;
  }
  .contact-detail {
    margin: 1rem 0 1rem 0;
  }
  .contact-detailsName {
    margin-bottom: 4px;
    font-size: 1.5rem;
  }
  .contact-form-container {
    box-shadow: 2px 10px 15px rgba(0, 0, 0, 0.3);
    flex: 4;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    margin-bottom: 5rem;
  }
  .contact-form-header {
    margin: 3rem auto 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contact-form-enquiryHead {
    font-size: 30px;
    font-family: "Poppins", sans-serif;
  }
  .contact-form {
    margin: 3rem auto 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
  }
  .contact-form-inputText{
             color: #292929;
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        width: 70%;
        border: none;
        border-bottom: 1px solid #989898;
  }
   .contact-form-inputText :focus{
             outline: none;
        border: none;
        border-bottom: 1px solid black;
   }
   .contact-form-inputTextArea{
             color: #292929;
        font-family: 'Montserrat', sans-serif;
        width: 70%;
        height: 7rem;
        resize: none;
        border: 1px solid #989898;
   }
    .contact-form-inputTextArea :focus{
        outline: none;
        border: 1px solid #676767;
   }
   .contact-form-submitButton{
               cursor: pointer;
        color: #fff;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        border: none;
        width: 60%;
        font-size: 20px;
        height: 3rem;
        margin-bottom: 2rem;
        box-shadow: 2px 10px 15px rgba(0, 0, 0, 0.3);
        transition: 0.2s all;
   }
   .contact-form-submitButton{
         font-size: 23px;
   }
}
