* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  background-color: #414141;

}
.demo{
  width: 100%;
  height: 70px;
}
.navbar{
  background-color: #414141;
}
.nav-link ,.register-btn{
  margin: 0 15px;
}
.nav-item :hover{
  cursor: pointer;
}
.navbar-collapse {
  justify-content: flex-end;
  margin-top: 15px 15px;
}
.navbar-dark .navbar-toggler {
    color: #414141;
}
.navbar-toggler{
  border: none;
  margin-right: 1.5rem;
}
.navbar-brand{
  height: 70px;
  margin-left: 1.5rem;
}
.navbar-nav{
  margin-left: auto;
  width: 50%;
  position: absolute;
  z-index: 1000;
  top: 4rem;
  background-color: #414141;
  right: 1.5rem;
  border: 1px solid #2c2c2c;
  box-shadow: 3px 2px 10px #2c2c2c, -3px 2px 10px #2c2c2c;
  border-radius: 10px;
  text-align: center;
  padding-bottom: 1rem;
  
}
.navbar-nav-brand{
  width: 100%;
  background-color: transparent;

}
.nav-img{
  width: 66%;
  border-bottom: 1px solid #d3d3d3;
}
.nav-item{
  font-size: 85%;
  background-color: transparent;
}

.container-fluid {
  margin-top: 1rem;
}
@media only screen and (min-width:768px) {
  .navbar-nav-brand{
    display: none;
  }
  
  .navbar-nav{
    padding-bottom: 0;
    width: unset;
    border: none;
    box-shadow: none;
    top: unset;
  }
  .icon{
    font-size: 110%;
  }
  .nav-text{
    font-size: 100%;
  }
}
.img-tags,
.logo-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.icon{
  font-size: 100%;
  vertical-align: middle;
}
.nav-text{
  vertical-align: middle;
}
.img-tags{
    position: relative;
    z-index: 100;
    flex-wrap: wrap;
}
.logo-container {

  min-width: 400px;
  min-height: 400px;
}
.sponsor-img {
  margin: 10px;
  width: 120px;
  height: 120px;
}
.logo {
  position: absolute;
  width: 400px;
  height: 400px;
  top: 99px;
  
}
.info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  flex-direction: column;
}

.footer-logo {
  width: 235.776px;
  height: 78px;
  padding-right: 5rem;
  margin-bottom: 9rem;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.footer-head {
  font-size: 1rem !important;
  padding-top: 1rem;
  padding-bottom: 2rem;
  color: #FFFFFF;
}

.footer-text {
  font-size: 1rem !important;
  color: rgba(255, 255, 255, 0.6) !important;
}

.social {
  width: 30px;
  height: 30px;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.socialw {
  width: 45px;
  height: 45px;
  margin-top: 5rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.social:hover, .socialw:hover{
  opacity: 0.5;
}

.copyright {
  margin-bottom: 4rem;
}

.footer-logo {
  width: 235.776px;
  height: 78px;
  padding-right: 5rem;
  margin-bottom: 9rem;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: st;
}

.footer-head {
  font-size: 1rem !important;
  padding-top: 1rem;
  padding-bottom: 2rem;
  color: #FFFFFF;
}

.footer-text {
  font-size: 1rem !important;
  color: rgba(255, 255, 255, 0.6) !important;
}

.social {
  width: 30px;
  height: 30px;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.socialw {
  width: 45px;
  height: 45px;
  margin-top: 4rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.social:hover, .socialw:hover{
  opacity: 0.5;
}

.copyright {
  margin-bottom: 4rem;
}

.copyright-mb ,.copyright-mb-2{
  display: none;
}

@media only screen and (max-width: 769px) {
    .logo-container{
        min-width: 200px;
        min-height: 20px;
    }
    .logo{
        position: absolute;
        top: -100px;
        width: 120px;
        height: 295px;
    }
    .sponsor-img{
        width: 80px;
        height: 20px;
    }
    .pie{
      width: 82px;
      height: 25px;
    }

  .logo-container{
      min-width: 200px;
      min-height: 20px;
  }
  .logo{
      position: absolute;
      top: -100px;
      width: 120px;
      height: 295px;
  }
  .sponsor-img{
      width: 80px;
      height: 20px;
  }
  .nav-link ,.register-btn{
    margin: 0;
  }
  .info-container{
    padding: 1rem;
    position: relative;
    overflow-x: hidden;
  
  }
  .footer{
    flex-direction: column;
  }
  .footer >div{
    margin: auto;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .social-container{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer-logo {
    margin-left: 5rem;
    margin-bottom: 0rem;
  }

  .footer-text{
    font-size: 0.9rem !important;
    align-self: center !important;
  }

  .footer-head {
    margin-top: 2rem;
    margin-bottom: 0rem;
  }

  .socialw {
    margin-top: 2rem;
  }

  .copyright {
    display: none;
  }

  .copyright-mb{
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: inline;
  }
  .copyright-mb-2{
    margin-bottom: 2rem;
    display: inline;
  }
}


