* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #414141;
}

.bg-dark {
  background-color: transparent !important;
}
.nav-link ,.register-btn{
  margin: 0 15px;
}
.navbar-collapse {
  justify-content: flex-end;
  margin-top: 15px 15px;
}
.navbar-dark .navbar-toggler {
    color: transparent;
}
.container-fluid {
  margin-top: 1rem;
}

.img-tags,
.logo-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.img-tags{
    position: relative;
    z-index: 100;
    flex-wrap: wrap;
}
.logo-container {
  min-width: 400px;
  min-height: 400px;
}
.sponsor-img {
  margin: 10px;
  width: 120px;
  height: 120px;
}
.logo {
  position: absolute;
  width: 400px;
  height: 400px;
  top: 99px;
  
}
.info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  flex-direction: column;
}

.footer-logo {
  width: 235.776px;
  height: 78px;
  padding-right: 5rem;
  margin-bottom: 9rem;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: start;
}

.footer-head {
  font-size: 1rem !important;
  padding-top: 1rem;
  padding-bottom: 2rem;
  color: #FFFFFF;
}

.footer-text {
  font-size: 1rem !important;
  color: rgba(255, 255, 255, 0.6) !important;
}

.social {
  width: 30px;
  height: 30px;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.socialw {
  width: 45px;
  height: 45px;
  margin-top: 5rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.social:hover, .socialw:hover{
  opacity: 0.5;
}

.copyright {
  margin-bottom: 4rem;
}

.footer-logo {
  width: 235.776px;
  height: 78px;
  padding-right: 5rem;
  margin-bottom: 9rem;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: st;
}

.footer-head {
  font-size: 1rem !important;
  padding-top: 1rem;
  padding-bottom: 2rem;
  color: #FFFFFF;
}

.footer-text {
  font-size: 1rem !important;
  color: rgba(255, 255, 255, 0.6) !important;
}

.social {
  width: 30px;
  height: 30px;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.socialw {
  width: 45px;
  height: 45px;
  margin-top: 5rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.social:hover, .socialw:hover{
  opacity: 0.5;
}

.copyright {
  margin-bottom: 4rem;
}

@media only screen and (max-width: 769px) {
    .logo-container{
        min-width: 200px;
        min-height: 20px;
    }
    .logo{
        position: absolute;
        top: -100px;
        width: 120px;
        height: 295px;
    }
    .sponsor-img{
        width: 80px;
        height: 20px;
    }
    .pie{
      width: 82px;
      height: 25px;
    }
.nav-link ,.register-btn{
    margin: 0;
}
.info-container{
  padding: 1rem;
  position: relative;
  overflow-x: hidden;
  
}
.footer{
  flex-direction: column;
}
.footer >div{
 margin: auto;
 width: 200px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}
.social-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-logo {
  margin-left: 5rem;
  margin-bottom: 4rem;
}

.footer-text{
  font-size: 0.9rem !important;
  align-self: center !important;
}

.footer-head {
  margin-top: 2rem;
  margin-bottom: 0rem;
}

.socialw {
  margin-top: 2rem;
}

}
