*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color:  #414141;
;
}
.bg-dark{
background-color: transparent !important;
}
.nav-link{
    margin: 0 15px;
}
.navbar-collapse{
    justify-content: flex-end;
    margin-top: 15px 15px;
}
.container-fluid{
    margin-top: 1rem;
}